.wrap {
  display: flex;
}





.floatright {
  background-color: pink;
  width: 30%;
  height: 200px;
  float:right;
  text-align: center;
}

.floattop {
  background-color: #00008b;
  height: 150px;
  text-align: center;
}

.floatmain {
  background-color: blue;
  height:500px;
  width:70%;

}

.floatfooter {
  background-color: orange;
  height: 100px;
  overflow: auto;
}
