@media screen and (min-width: 0px) and (max-width: 1000px){
  body {
    background-color: pink;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: blue;
  }
}

@media screen and (min-height: 500px) {
  body {
    background-color: green;
  }
}
